/* Uso le variabili CSS */
:root {
  /* palette colore */
  --primary-color: #021c34;
  --secondary-color: #29b1ff;
  --background-light: #fff;
  --background-dark: #efefff;
  --accent-color: #ff3131;
  --text-color: #000;
  --text-color-light: #fff;
  /* Tipografia */
  --primary-font: "Source Serif 4", serif;
  --secondary-font: "Source Sans Pro", sans-serif;
  /* Font-size */
  --h1: 48px;
  --h2: 36px;
  --h3: 28px;
  --h4: 22px;
  --p: 18px;
  --button-text: 16px;
}

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  background-image: url(./img/main_background_picture.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* TYPOGRAPHY  */
h1 {
  font-family: var(--primary-font);
  font-size: var(--h1);
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}
h2 {
  font-family: var(--primary-font);
  font-size: var(--h2);
  font-weight: normal;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
}
h3 {
  font-family: var(--secondary-font);
  font-size: var(--h3);
  font-weight: normal;
  color: var(--text-color);
  margin: 0;
}
h4 {
  width: fit-content;
  font-family: var(--secondary-font);
  font-size: var(--h4);
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}
p {
  font-family: var(--secondary-font);
  font-size: var(--p);
  font-weight: normal;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 12px;
  line-height: 170%;
}
a {
  font-family: var(--secondary-font);
  font-size: var(--p);
  font-weight: normal;
  color: var(--text-color-light);
  text-decoration: none;
}
li {
  font-family: var(--secondary-font);
  font-size: var(--p);
  font-weight: normal;
  color: var(--primary-color);
  margin: 0;
}

/* CTA Buttons */
button.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--primary-color);
  color: var(--text-color-light);
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  min-width: 200px;
  border: none;
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: var(--button-text);
  font-weight: 600;
  font-style: normal;
  border-width: 1px;
  border-color: var(--primary-color);
  border-style: solid;
  transition: all 0.3s ease-in-out;
}
button.primary-button:hover {
  background: var(--secondary-color);
  color: var(--text-color);
  border-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
button.primary-button:active {
  transform: scale(0.95);
}
button.secondary-button {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  background: var(--background-light);
  color: var(--text-color);
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  min-width: 200px;
  border: none;
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: var(--button-text);
  font-weight: 600;
  font-style: normal;
  border-width: 1px;
  border-color: var(--primary-color);
  border-style: solid;
  transition: all 0.3s ease-in-out;
}
button.secondary-button:hover {
  background: var(--secondary-color);
  color: var(--text-color);
  border-color: var(--secondary-color);

  transition: all 0.3s ease-in-out;
}
button.secondary-button:active {
  transform: scale(0.95);
}

/* header style: */
.cover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 20px;
}
.cover__logo__image {
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
  color: var(--text-color-light);
}
.cover__logo__title h1 {
  color: var(--text-color-light);
}
.cover__navigation {
  visibility: visible;
}
.cover__navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 0;
  padding: 0;
}
.cover__navigation ul li a {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: var(--p);
  color: var(--text-color-light);
  transition: color 0.3s ease;
}
.cover__logo__title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

/* footer styles: */
.footer {
  height: fit-content;
  background-color: var(--primary-color);
  padding: 5px 20px;
}
.footer p {
  color: var(--text-color-light);
}
.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.footer__socials i.social-icon {
  font-size: 2em;
  color: var(--text-color-light);
  transition: all 0.2s ease-in-out;
}
.footer__socials i.social-icon:hover {
  color: var(--text-color-light);
  cursor: pointer;
  scale: 1.3;
  transition: all 0.2s ease-in-out;
}
.footer__socials i.social-icon:active {
  transform: scale(0.6);
}
.footer__anchors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
}
.footer__copyright {
  text-align: center;
  color: var(--text-color-light);
  margin-top: 60px;
  margin-bottom: 3px;
}

/* main styles: */

.main__container .main__section__white {
  background-color: var(--background-light);
  padding: 20px;
}

.main__container .main__section__colored {
  background-color: var(--background-dark);
  padding: 20px;
}

.main__container .main__section__hero {
  height: calc(100vh - (85.5px));
  width: 100%;
  background-color: transparent;
}

.main__container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

/* about section */

.about-content {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  max-width: 1000px;
}
.about-content p {
  text-align: center;
}
.about-cta-button {
  max-width: fit-content;
  align-self: center;
  justify-self: center;
}

/* student stories */

.stories__carousel {
  display: flex;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide h3 {
  position: absolute;
  margin-left: 30px;
  bottom: 15%;
  width: 100%;
  color: var(--text-color-light);
  margin-bottom: 10px;
}

.slide p {
  position: absolute;
  margin-left: 30px;
  bottom: 5%;
  width: 50%;
  color: var(--text-color-light);
  margin-bottom: 10px;
}

.slide-dark-block {
  padding: 20px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  opacity: 0.9;
  position: absolute;
  bottom: -30%;
  min-height: 50%;
  min-width: 50%;
  filter: blur(50px);
  transform: scale(1.2);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 50px;
  border-radius: 6px;
  color: var(--text-color-light);
}

.arrow:hover {
  font-size: 60px;
}

.arrow.prev {
  left: 10px;
}
.arrow.next {
  right: 10px;
}

/* news section */
.news-item-box {
  position: relative;
}

.news-item-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item-box h4 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin: 0;
  color: white;
}

.news-item-small,
.news-item-small-alt {
  display: flex;
  background-color: var(--background-light);
  height: 100%;
}

.news-item-small img,
.news-item-small-alt img {
  width: 40%;
  object-fit: cover;
}

.news-item-small h4,
.news-item-small-alt h4,
.news-item-wide h4 {
  padding: 10px;
  margin: 0;
  color: var(--text-color);
}

.news-item-wide {
  background-color: var(--text-color-light);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, 7fr) minmax(0, 3fr);
}

.news-item-wide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-grid {
  display: grid;

  grid-template-columns: 3.8fr 3.8fr 2.4fr;
  grid-template-rows: repeat(12, 5vh); /* равномерная высота */

  gap: 12px;
}

/* Раскладка по зонам */
.news-grid {
  grid-template-areas:
    "big1   small1  wide1"
    "big1   small1  wide1"
    "big1   small1  wide1"
    "big1   small2  wide1"
    "big1   small2  wide2"
    "big1   small2  wide2"
    "small3 big2    wide2"
    "small3 big2    wide2"
    "small3 big2    wide3"
    "small4 big2    wide3"
    "small4 big2    wide3"
    "small4 big2    wide3";
}

/* Привязка элементов */
.big1 {
  grid-area: big1;
}
.small1 {
  grid-area: small1;
}
.small2 {
  grid-area: small2;
}
.small3 {
  grid-area: small3;
}
.small4 {
  grid-area: small4;
}
.big2 {
  grid-area: big2;
}
.wide1 {
  grid-area: wide1;
}
.wide2 {
  grid-area: wide2;
}
.wide3 {
  grid-area: wide3;
}

/* achievemts section */
.achievements-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: 5%;
  align-items: center;
  justify-items: center;
}
.achievement-element {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-content: center;
  justify-content: center;
}
.achievement-element h3 {
  align-self: center;
  text-align: center;
}
.achievement-element img {
  align-self: center;
  width: 50%;
  height: 100%;
}

/* academics */
.section__academics {
  position: relative;
}
.academics-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px;
  height: 500px;
}
.academics-container .body-1,
.academics-container .body-2,
.academics-container .body-3,
.academics-container .body-4,
.academics-container .body-5 {
  position: absolute;
  top: 150px;
  left: 100px;
  visibility: hidden;
}
.academics-container .body-active {
  visibility: visible;
}

.academics-chapter-headers {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.academics-chapter-header {
  cursor: pointer;
  padding: 10px;
}
.academics-chapter-header h4 {
  color: var(--text-color);
  text-align: center;
}

.header-active {
  background-color: #021c34;
}

.header-active h4 {
  color: var(--text-color-light);
}

/* admission section */
.admission-cta-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* contact-us section */
.contact-section {
  background: #efefff;
  padding: 80px 60px;
  font-family: serif;
}

.contact-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: flex-start;
}

.contact-info h3 {
  margin-bottom: 20px;
}

.contact-info p {
  line-height: 1.6;
}

.contact-form h3 {
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input {
  flex: 1;
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid #000;
  font-size: 16px;
}

textarea {
  width: 100%;
  height: 180px;
  padding: 16px 18px;
  border-radius: 14px;
  border: 1px solid #000;
  resize: none;
  font-size: 16px;
  margin-bottom: 20px;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  background: #0a1c2f;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
